header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* == CTA ==  */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/* === Header Socials ==== */
.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 2px;
  height: 2rem;
  background: var(--color-primary);
}

/* === ME === */
.nash_img {
  background: linear-gradient(var(--color-primary) 20%, rgba(92, 70, 156, 0.55) 70%);
  width: 22rem;
  height: 27.6rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 2rem 2rem;
  overflow: hidden;
  /* Overflow würde den bild überschuss verstecken, hier nicht gewollt, das meine Hand noch raus strecken sollte  */
 /* Doch angewendet, da ich BorderRadius überall angewendet habe */
}

/* === SCROLL DOWN === */
.scroll_down{
position: absolute;
right: -2.3rem;
bottom: 5rem;
transform: rotate(90deg);
font-weight: 400;
font-size: 1rem;
}

/*Media Queries ( Medium Devices) */

@media screen and (max-width: 1024px){
  header{
    height: 68vh;
  }
}

/*Media Queries ( SMALL Devices) */

@media screen and (max-width: 600px){
  header{
    height: 120vh;
  }
  
  .scroll_down{
    display: none;
  }
  .header_socials {
    display: block;
    position: relative;
    margin-top: 2rem;
    bottom:0px;
  }
  .header_socials > a {
    padding: 1rem;
}
}